<h3>Transfer VolCoins</h3>

<p>Successfully transferred <%= result.amount %> volCoins to <%= result.receiver.username %>.

<p>You now have <%= account.volCoins %> volCoins.</p>

<p><%= result.receiver.username %> now has <%= result.receiver.volCoins + result.amount %> volCoins.</p>
